/*--------
---reset-
----*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*------------
---common---
-----------*/
.row{
    display: flex;
}
.blue-button{
    color: white;
    background-color: #0061ff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}
.container-big{
    max-width: 1100px;
    margin: auto;
}
.container-small{
    max-width: 920px;
    margin: auto;

}
/*------
----header--
------*/
.fixed-nav{
    justify-content: space-between;
}
.nav{
    list-style: none;
}
header{
    padding: 15px; 
    position: fixed;
    background-color: white;
    left: 0px;
    right: 0px; 
}
.logo-small{
    height: 25px;
}
.left-header{
    width: 30%;
}

li{
   padding: 0px 15px;
   padding-top: 5px;
   vertical-align: middle;
}
.nav-links{
    text-decoration: none;
    color: black;
}
/*-------
----main--
----*/
.jumbotron{
    background-color: #b4d0e7;
    padding-top: 120px;
    height: 690px;
    margin-bottom: 150px;
}
.big-slogan{
    font-size: 70px;
}
.left-hero{
    width: calc(100%/3);
    padding-top: 0px;
}
.paragrafi{
    padding: 30px 0px;
}
.hero-icon{
    font-size: 40px;
    padding-top: 25px;
}
.jumbo-img{
    width: 100%;
    padding-top: 30px;
}
.right-hero{
    width: calc(100% - 100%/3);
}
.fatturazione{
    padding-right: 30px;
}
.plan-title{
    font-size: 35px;
    margin-bottom: 50px;
}
.plan-row{
    margin-top: 50px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.plan-column{
    width: calc(100%/3 - 20px);
    border: solid 1px #d0d0d3;;
}
.choice{
    text-align: center;
    border-bottom: solid 1px #d0d0d3;
    padding: 10px 0px;
}
.choice-name{
    font-size: 20px;
    padding-bottom: 15px;
}
.plan-description{
    padding: 25px 20px;
}
.price{
    margin-bottom: 12px;
}
.payment{
    padding-bottom: 35px;
}
.feature-icon{
    width:8%
}
.feature-description{
    width: 92%;
}
.specification{
    margin-bottom: 20px;
}
.plan-button{
    color: white;
    background-color: #0061ff;
    border: none;
    padding: 10px 0px;
    width: 100%;
    cursor: pointer;
    margin: 20px 0px;
}
hr{
    margin: 30px 0px; 
    width: 25%;
    color: #d0d0d3;
    height: 1px;
}
.punti{
    margin-bottom: 20px;
}
.punti-icon{
    color: #0061ff;
}
.choice{
    border: solid 1px #d0d0d3;
}
.last-choice{
    padding: 25px 20px;
    border: solid 1px #d0d0d3;
    border-top: none;
    margin-bottom: 120px;
}
.left-side{
    width: 70%;
}
.right-side{
    width: 30%;
}
.last-choice-name{
    font-size: 20px;
    margin-bottom: 20px;
}
/*---------
-----sezione entra in contatto
---------*/
.contatto{
    margin-bottom: 110px;
}
.left-contact{
    width:60%;
}
.contact-img{
    width: 100%;
}
.right-contact{
    width: 40%;
    padding: 40px 30px;
}
.contact-title{
    font-size: 20px;
    margin-bottom: 15px;
}
.contact-button{
    border: solid 1px ;
    background-color: white;
    padding: 10px 15px;
    cursor: pointer;
    margin: 20px 0px;
}
/*--------------
-sezione operazioni possibili
------------*/
.operation-row{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 130px;
}
.operation-column{
    width: calc(100%/3 - 20px);
    padding-bottom: 70px;
}
.operation-img{
    width: 100%;
}
.op-title{
    margin-bottom: 25px;
}